*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 80vh;
    position: relative;
    left: 27.5vw;
    top: 10vh;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#form1{
    display: flex;
}
#form2{
    display: none;
}
#form3{
    display: none;
}
#affichage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}


.input-group-text{
    border:none;
}
.erreurs{
    display: flex;
    gap: 20px;
}
form .form-group{
    margin-top: 30px;
}
.btn {
    margin-top: 20px;
    color: white;
}
.btn a{
    text-decoration: none;
    color: white;
}